.message-context-menu-button {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 40px;
  padding: 10px 16px;
  transition: background-color 0.2s ease;
  &:not(:first-child) {
    border-top: 1px solid var(--base-grey-whisper);
  }
  &:hover {
    background-color: var(--base-white-smoke);
  }
  &:active {
    background-color: var(--base-white-smoke);
  }
  &__icon {
    min-height: 24px;
    min-width: 24px;
    path {
      fill: var(--base-grey);
    }
    &.red {
      path {
        fill: var(--base-accent-red);
      }
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--base-black);
    user-select: none;
    &.red {
      color: var(--base-accent-red);
    }
  }
}
