@import 'src/assets/css/_mixins.scss';

@mixin navigation-hover {
  &:hover .modal-gallery__navigation-svg {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 999px
  }
}

.modal-gallery {
  position: absolute;
  z-index: 50;
  height: 100% !important;
  width: 100% !important;
  background-color: #00000099;
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: opacity 0.1s ease;
  pointer-events: none;
  overflow: hidden;
  &--visible {
    opacity: 1;
    pointer-events: all;
  }
  &__swiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 1px);
    height: 100%;
    padding: 76px 0;
    background-color: unset;
    /* background-color: #your-policy-bg-color; */
    /* background-color: #ff00005e; */
    /* display: flex; */
    @include tablet {
      padding: 0 0;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__media-item {
    max-height: 100%;
    background-color: var(--dark-white);
    object-fit: contain;
  }

  &__top-bar {
    position: relative;
    z-index: 51;
    width: 100%;
    height: 56px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--light-overlay-dark);
    &--mobile {
      top: -56px;
      transition: top 0.1s ease;
      /* top = &__top-bar height */
      &.active {
        top: 0px;
      }
    }
  }

  &__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
    padding: 5px;
    border-radius: 999px;
    transition: background-color 0.2s ease;
  }

  &__close-btn:hover {
    /* background-color: #your-search-controls-hover-color; */
    background-color: red;
  }

  &__close-icon {
    height: 18px !important;
    width: 18px !important;
  }

  &__close-icon path {
    /* fill: #your-search-controls-color; */
    fill: red;
  }

  &__prev-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 56px;
    bottom: 0;

    left: 0;
    padding: 20px 0 76px 10px;
    /* 76px padding of swiper - 56px height of top-bar = 20px  */

    width: 100px;
    z-index: 51;
    @include navigation-hover
  }

  &__navigation-svg {
    min-width: 50px;
    min-height: 50px;
    transition: all 0.2s ease;
    path {
      fill: rgb(255, 255, 255);
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));
    }
  }

  &__next-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 56px;
    bottom: 0;

    right: 0;
    padding: 20px 10px 76px 0;
    /* 76px padding of swiper - 56px height of top-bar = 20px  */

    width: 100px;
    z-index: 51;
    @include navigation-hover
  }
}
