@use 'src/assets/css/_mixins.scss' as *;

.name-and-avatar {
  padding: 0px 20px 0px 8px;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 56px;
  }

  &__input {
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--base-black);
    caret-color: var(--base-accent-blue);
    @include tablet {
      padding: 0px 8px;
    }
  }

  &__label {
    display: flex;
    padding-top: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--base-accent-blue);
  }

  &__confirm-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__confirm-icon {
    min-width: 24px;
    min-height: 24px;
    &--active {
      path {
        fill: var(--base-accent-blue);
      }
    }
  }
}