@mixin wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  padding-left: 8px;
}

.my-panel-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000021;
  backdrop-filter: blur(2px);
  transition: opacity 0.2s ease;
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
}

.my-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -246px;
  width: 246px;
  height: 100%;
  padding: 8px 8px 16px 8px;
  background: var(--base-white);
  transition: left 0.3s ease;
  cursor: default;

  &__item {
    @include wrapper;

    &:first-child {
      margin-top: 0px;
      padding-left: 0px;
    }
    &:last-child {
      margin-top: auto;
    }

    &:hover .my-panel__text{
      color: var(--base-accent-blue);
    }
  }

  &__user-avatar {
    border-radius: 99999px;
    width: 40px;
    height: 40px;
    object-position: center;
    object-fit: cover;
    background-color: var(--base-grey-gainsboro);
  }

  &__user-name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: var(--base-black);
  }

  &__svg {
    min-height: 24px;
    min-width: 24px;
    path {
      fill: var(--base-grey);
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--base-black);
    transition: color 0.2s ease;
  }
}

.active {
  &.my-panel-backdrop {
    pointer-events: all;
    opacity: 1;
  }
  .my-panel {
    left: 0px;
  }
}
