.message-context-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 264px;
  z-index: 4;
  background-color: var(--base-white-snow);
  border-radius: 16px;
  border: 1px solid var(--base-grey-whisper);
  overflow: hidden;
  /* анимация */
  opacity: 0;
  transform: scale(0.8);
  transform-origin: left top;
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
  &.active {
    opacity: 1;
    transform: scale(1);
  }
}
