@import 'src/assets/css/_mixins.scss';

.circular-progressbar-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  padding: 3px;
  border-radius: 9999px;
  background-color: var(--light-overlay-dark);
  
  @include phone {
    width: 45px;
    height: 45px;
  }
}

.circular-progressbar {
  animation: rotate 3s linear infinite; /* Время анимации и бесконечный цикл */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

