@use 'src/assets/css/_mixins.scss' as *;

.message {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  @include fade-in-animation;
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 2px auto 0 40px;
    overflow: hidden;
    border-radius: 16px 16px 16px 16px;
    background: var(--base-white);
    border: 1px solid var(--base-grey-whisper);
    &.margin-left {
      margin-left: 0px;
    }
    &.margin-top {
      margin-top: 8px;
    }
    &.own {
      margin: 2px 0 0 auto;
      background: var(--base-grey-whisper);
      border: unset;
      &.margin-top {
        margin-top: 8px;
      }
      &.border {
        border-radius: 16px 16px 0 16px;
      }
    }
    &.border {
      border-radius: 16px 16px 16px 0;
    }
    @include tablet-small {
      max-width: 380px;
    }
    @include phone {
      max-width: 272px;
    }
  }
  &__album {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__username-wrapper {
    padding: 8px 16px 0px 16px;
    &--befor-media {
      padding-bottom: 8px;
    }
    &--before-files {
      padding-bottom: 4px;
    }
  }

  &__username {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--base-accent-blue);
  }

  &__text-wrapper {
    padding: 8px 16px;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--base-black);
    @include tablet-small {
      font-size: 14px;
    }
    a {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      color: var(--base-accent-blue);
      transition: color 0.2s ease;

      &:hover {
        color: var(--base-accent-dark-blue);
      }
    }
  }

  &__files-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 4px 0 4px;
    &--padding-bottom {
      padding-bottom: 4px;
    }
  }

  &__image-info-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4px;
    right: 7px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 999px;
    padding: 1px 7px 1px 2px;
  }

  &__text-info-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;
    left: 2px;
    float: right;
  }

  &__files-info-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4px;
    right: 7px;
  }
}
