@import 'src/assets/css/_mixins.scss';
.message {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 2px auto 0 40px;
    overflow: hidden;
    border-radius: 16px 16px 16px 16px;
    background: var(--base-white);
    border: 1px solid var(--base-grey-whisper);
    &.margin-left {
      margin-left: 0px;
    }
    &.margin-top {
      margin-top: 8px;
    }
    &.own {
      margin: 2px 0 0 auto;
      background: var(--base-grey-whisper);
      border: unset;
      &.margin-top {
        margin-top: 8px;
      }
      &.border {
        border-radius: 16px 16px 0 16px;
      }
    }
    &.border {
      border-radius: 16px 16px 16px 0;
    }
    @include tablet-small {
      max-width: 380px;
    }
    @include phone {
      max-width: 272px;
    }
  }
  &__album {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__content {
    padding: 8px 16px;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--base-black);
    @include tablet-small {
      font-size: 14px;
    }
    a {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      color: var(--base-accent-blue);
      transition: color 0.2s ease;

      &:hover {
        color: var(--base-accent-dark-blue);
      }
    }
  }

  &__image-info-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4px;
    right: 7px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 999px;
    padding: 1px 7px 1px 2px;
  }

  &__info-wrapper {
    position: relative;
    top: 5px;
    left: 2px;
    display: flex;
    align-items: center;
    float: right;
  }

  &__timestamp {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--base-grey);
    width: 30px;
    &--image {
      color: var(--light-white);
    }
  }

  &__checked-mark {
    min-width: 16px;
    min-height: 16px;
    path {
      fill: var(--base-accent-blue);
    }
    &--image {
      path {
        fill: var(--light-white);
      }
    }
  }

  &__unchecked-mark {
    min-width: 16px;
    min-height: 16px;
    path {
      fill: var(--base-grey);
    }
    &--image {
      path {
        fill: var(--light-white);
      }
    }
  }
}
