@use 'src/assets/css/_mixins.scss' as *;

.avatar-image {
  border-radius: 999px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  object-position: center;
  object-fit: cover;
  background-color: var(--base-grey-gainsboro);
  font-size: 12px;
  text-align: center;
  &--little {
    width: 32px;
    height: 32px;
    min-width: 32px;
  }
  &--big {
    width: 60px;
    height: 60px;
    min-width: 60px;
  }
  &--svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    min-width: 24px;
    min-height: 24px;
    path {
      fill: var(--base-black)
    }
    &--little {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
    }
    &--big {
      width: 36px;
      height: 36px;
      min-width: 36px;
      min-height: 36px;
    }
  }
  &--animated {
    @include fade-in-animation;
  }
}