.avatar-image {
  border-radius: 99999px;
  width: 40px;
  height: 40px;
  object-position: center;
  object-fit: cover;
  background-color: var(--base-grey-gainsboro);
  font-size: 12px;
  text-align: center;
}