@import 'src/assets/css/_mixins.scss';

.chats-list {
  height: 100%;
  overflow-y: auto;
  padding-top: 8px;
  @media screen and (min-width: 991px) {
    @include scrollbar
  }

  &__search-wrapper {
    padding: 0 8px;
  }
}