@use 'src/assets/css/_mixins.scss' as *;

.chats-list {
  height: 100%;
  overflow-y: auto;
  padding-top: 8px;
  @media screen and (min-width: 991px) {
    @include scrollbar;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }

  &__search-wrapper {
    padding: 0 8px;
  }
}