.chat-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 56px;
  margin-bottom: 1px;
  background: var(--base-white);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__back-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    /* 40px is a width of AvatarImage */
    cursor: default;
  }

  &__left-chevron-svg {
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    path {
      fill: var(--base-black);
    }
  }
  &__middle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    overflow-y: hidden;
  }

  &__chatname {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--base-black);
    user-select: none;
    white-space: nowrap;
    //justify-self: flex-end;
  }
  &__info {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--base-grey);
    user-select: none;
    white-space: nowrap;
    &--loading::after {
      content: '';
      animation: dot-animation 1s infinite;
    }
    &--active {
      color: var(--base-accent-blue);
    }
  }
}

@keyframes dot-animation {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
  100% {
    content: '.';
  }
}
