@import 'src/assets/css/_mixins.scss';

.main {
  height: 100dvh;
  display: flex;
  align-items: center;
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
}

.chats-section {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 480px;
  height: 100%;
}